body {
    background-color: #000;
    color: #fff;
    font-family: 'komm64fantasy', monospace;
    margin: 0;
    padding: 20px;
}

@font-face {
    font-family: 'komm64fantasy';
    src: url('fonts/komm64fantasy-webfont.woff2') format('woff2'),
         url('fonts/komm64fantasy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.terminal {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.terminal p {
    margin-bottom: 10px;
}

.terminal ul {
    list-style-type: none;
    padding: 0;
}

.terminal li {
    margin-bottom: 5px;
}

.terminal li a {
    color: limegreen;
    text-decoration: none;
}

.terminal li a:hover {
    text-decoration: underline;
}
